<!DOCTYPE html>
<html>
  <head>
    <title>Gettysburg MadLibs</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">

    <meta charset='utf-8'>
  </head>
    <body>
      <div class="container">
        <h1>Gettysburg Mad Libs</h1>
        <p>Fill in the blanks to get a totally unique Gettysburg story.</p>
        <form action="/story2" method="post">
        <div class="mb-3">
          <label for="gettysburg">Any noun</label>
          <input type="text" id="gettysburg" name="gettysburg">
        </div>
        <!-- <div class="mb-3">
          <label for="action">Past Tense Action Word</label>
          <input type="text" id="action" name="action">
        </div>
        <div class="mb-3">
          <label for="name">Three Syllable Name</label>
          <input type="text" id="name" name="name">
        </div> -->
        <button type="submit" class="btn btn-primary
        ">Make Your Story</button>
        </form>
      </div>
    </body>
</html>