<!DOCTYPE html>
<html>
  <head>
    <title>Holiday MadLibs</title>
        <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous">
      <meta charset='utf-8'>
    </head>
    <body>
      <h1>Holiday MadLibs</h1>
      <p>Fill in the blanks to get a totally unique Christmas story.</p>
      <form action="/story" method="post">
      <label for="holiday">Holiday</label>
      <input type="text" id="holiday" name="holiday">
      <button type="submit">Make Your Story</button>
      </form>
    </body>
</html>